---
import PageWrapperLayout from '../../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../../components/TerminalWindow.astro';
import Btn from '../../components/Btn.astro';

const {id} = Astro.params;

// TODO: Define a project type
const project = {
    title: 'Anime Insight',
    shortDescription: 'Find just the right anime for whatever mood you may be feeling',
    description: 'Anime Insight is a web sight designed to help you find anime when you are not sure what to watch.',
    concepts: ['apis', 'state_management', 'mobile_first_design'],
    technologies: ['React', 'JavaScript', 'Git'],
    date: '8_12_2021',
    repo: 'https://github.com/JoshuahBoardman/Anime-Insight-App',
    sections: [
        {
            header: 'Introduction', 

            //TODO: might want to break each section body up into paragraphs
            body: 'This is the stuffs and things. Very long articles promise'
        },
        {
            header: 'Introduction 2', 
            body: 'This is the stuffs and things. Very long articles promise 2'
        },
{
            header: 'Introduction 3', 

            //TODO: might want to break each section body up into paragraphs
            body: 'This is the stuffs and things. Very long articles promise'
        },
        {
            header: 'Introduction 4', 
            body: 'This is the stuffs and things. Very long articles promise 2'
        }

    ],
}

---

<PageWrapperLayout title={project.title}>
    <TerminalWindow title={`project_${id}`}>
        <article class="w-full flex flex-col justify-center text-xl text-mischka gap-y-8 ">
            <!-- TODO: Refactor into a project header layout -->
            <header class="w-full flex items-center justify-center flex-col gap-y-6">
                <!-- TODO: maybe add repo button to the bottom corner of the page -->
                <figure class="w-full h-96 bg-mischka rounded-regular overflow-hidden">
                    <img src="/" alt="Placholder Img">
                </figure>
                <div class="w-full flex flex-row justify-start items-center">
                    <h2 class="text-4xl text-primary">{project.title}</h2>
                </div>
                <div class="w-full flex flex-row justify-start items-center">
                    <span class="text-2xl italic">{project.shortDescription}</span>
                </div>
                <div class="w-full flex flex-row justify-start items-center">
                    <div>
                        <span class="text-2xl text-primary font-semibold">Posted:</span> 
                        {project.date}
                    </div>
                </div>
                    <div class="w-full flex flex-row items-center justify-start gap-2 flex-wrap">
                        <span class="text-2xl text-primary font-semibold">Concepts:</span> 
                    {project.concepts.map(concept => (
                        <div class="badge badge-outline badge-accent text-xl">#{concept}</div>
                    ))}
                    </div>
                <div class="w-full flex flex-row justify-start items-center gap-2 flex-wrap">
                        <span class="text-2xl text-primary font-semibold">Technologies:</span> 
                        {project.technologies.map(concept => (
                            <div class="badge badge-outline badge-accent text-xl">#{concept}</div>
                        ))}
                </div>
                <div class="w-full flex flex-row justify-start items-center">
                    <p>
                        <span class="text-2xl text-primary font-semibold">Description:</span> 
                        {project.description}
                    </p>
                </div>
                <div class="w-full flex flex-row justify-start items-center pb-3">
                    <a href={project.repo} class="btn btn-secondary btn-outline btn-block border-regular text-xl">Repo</a>
                </div>
                <div class="w-full flex flex-col justify-center items-start gap-2">
                    <h4 class="text-3xl font-semibold text-primary">Content:</h4>
                    <ol class="list-disc list-inside text-lg flex flex-col gap-2">
                        {project.sections.map(section => (
                        <li>
                            <a href={`#${section.header.replaceAll(' ', '-').toLowerCase()}`} class="link link-hover link-secondary text-xl">{section.header}</a>
                        </li>
                        ))}
                    </ol>
                </div>
            </header>
            <!-- TODO: Create a content section -->

            <!-- TODO: Refactor to use md -->
               {project.sections.map(section => (
            <section id={section.header.replaceAll(' ', '-').toLowerCase()}class="w-full">
                        <h3 class="text-3xl text-primary">{section.header}:</h3>
                        <div class="w-full text-base pt-2">
                            <p class="text-xl">{section.body}</p>
                        </div>
                    </section>
               ))} 
        </article>
    </TerminalWindow>
</PageWrapperLayout>
