---
import PageWrapperLayout from '../../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../../components/TerminalWindow.astro';
import Btn from '../../components/Btn.astro';
import ArticleHeader from '../../layouts/ArticleHeader.astro';

const {id} = Astro.params;

const project = {
    title: 'Anime Insight',
    description: 'Anime Insight is a web sight designed to help you find anime when you are not sure what to watch.', 
    date: '8_12_2021', 
    readTime: 25,
    tags: ['apis', 'state_management', 'mobile_first_design'],
    sections: ['Introduction', 'Introduction 2', 'Introduction 3',],
    imgUrl: "/"
};

---

<PageWrapperLayout title={project.title}>
    <TerminalWindow title={`project_${id}`}>
        <article class="w-full flex flex-col justify-center text-xl text-mischka gap-y-8 ">
            <ArticleHeader articleHeader={project} />
            <!-- TODO: Create a content section -->
            <!-- TODO: Refactor to use md -->
               {project.sections.map(section => (
            <section id={section.replaceAll(' ', '-').toLowerCase()}class="w-full">
                        <h3 class="text-3xl text-primary">{section}:</h3>
                        <div class="w-full text-base pt-2">
                            <p class="text-xl">{section}</p>
                        </div>
                    </section>
               ))} 
        </article>
    </TerminalWindow>
</PageWrapperLayout>
