---
import PageWrapperLayout from '../../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../../components/TerminalWindow.astro';
import Btn from '../../components/Btn.astro';
import type {Theme} from '../../types.ts';

// TODO: Define a project type
const project = {
    title: 'Anime Insight',
    shortDescription: 'Find just the right anime for whatever mood you may be feeling',
    description: 'Anime Insight is a web sight designed to help you find anime when you are not sure what to watch.',
    concepts: ['apis', 'state_management', 'mobile_first_design'],
    technologies: ['React', 'JavaScript', 'Git'],
    date: '8_12_2021',
    repo: 'https://github.com/JoshuahBoardman/Anime-Insight-App',
    sections: [
        {
            header: 'Introduction', 

            //TODO: might want to break each section body up into paragraphs
            body: 'This is the stuffs and things. Very long articles promise'
        },
        {
            header: 'Introduction 2', 
            body: 'This is the stuffs and things. Very long articles promise 2'
        }

    ],
}

const theme: Theme = {
        backgroundColor: 'ebony-clay',
        borderColor: 'mischka',
        textColor: 'madang',
};

const {id} = Astro.params;

---

<PageWrapperLayout title={project.title}>
    <TerminalWindow title={`project_${id}`} backgroundColor='bg-ebony-clay' borderColor="border-texas" titleColor="text-mischka">
    <div class="w-full flex flex-col justify-center text-xl text-mischka">
        <div class="w-full flex items-center justify-center flex-col gap-y-6">
            <div class="w-full h-64 bg-mischka rounded-2xl"></div>
            <div class="w-full flex flex-row justify-start items-center">
                <h2 class="text-4xl">{project.title}</h2>
            </div>
            <div class="w-full flex flex-row justify-start items-center">
                <div class="italic">{project.shortDescription}</div>
            </div>
            <div class="w-full flex flex-row justify-start items-center">
                <div>
                    <span class="font-semibold">Posted:</span> 
                    {project.date}
                </div>
            </div>
            <div class="w-full flex flex-row justify-start items-center">
                <div>
                    <span class="font-semibold">Concepts:</span> 
                    {project.concepts.join(', ')}
                </div>
            </div>
            <div class="w-full flex flex-row justify-start items-center">
                <div>
                    <span class="font-semibold">Technologies:</span> 
                    {project.technologies.join(', ')}
                </div>
            </div>
            <div class="w-full flex flex-row justify-start items-center">
                <p>
                    <span class="font-semibold">Description:</span> 
                    {project.description}
                </p>
            </div>
            <div class="w-full flex flex-row justify-start items-center">
                <Btn link={project.repo} theme={theme}>
                    Repo
                </Btn>
            </div>
        </div>
        <article class="w-full flex flex-col justify-center items-center gap-y-6 pt-8">
           {project.sections.map(section => (
               <div class="w-full flex flex-row justify-start items-center">
                    <h3 class="text-3xl">{section.header}:</h3>
                </div>
                <div class="w-full flex flex-row justify-start items-center text-base">
                    <p>{section.body}</p>
                </div>
           ))} 
        </article>
    </div>
    </TerminalWindow>
</PageWrapperLayout>
