---
import PageWrapperLayout from '../../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../../components/TerminalWindow.astro';
import ArticleHeader from '../../layouts/ArticleHeader.astro';

const {id} = Astro.params;

const blog = {
    title: 'Fundamentals of OOP and Why Its Not What You Think',
    description: 'How object orient design has deviated from what its purpose.',
    date: '8_12_2021', 
    readTime: 45,
    tags: ['oop', 'fundamentals', 'debate',],
    sections: ['OOP Core Concepts', 'Origins of OOP', 'Current OOP Philosophy', 'Contrast Between OOP In The Past And Now', 'Conclusions', ],
    //imgUrl: "/"
};

---

<!-- TODO: Look at other peoples blogs and examin their spacings between letters and paragraphs -->

<PageWrapperLayout title='Blogs' >
    <TerminalWindow title={`blog_post_${id}`}>
        <article class="w-full flex flex-col justify-center items-center gap-y-8 text-mischka">
            <ArticleHeader articleHeader={blog}/>


            <!-- TODO: Refactor to use md --> 
            {blog.sections.map(section => (
                <section class="w-full">
                   <h3 id={section.replaceAll(' ', '-').toLowerCase()} class="text-3xl font-semibold text-primary">{section}</h3> 
                   <div class="pt-2">
                        <p class="text-xl font-text">{section}</p>            
                   </div>
               </section> 
            ))}
        </article>
    </TerminalWindow>
</PageWrapperLayout>
