---
import PageWrapperLayout from '../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../components/TerminalWindow.astro';
import Card from '../components/Card.astro';

import type {Theme} from '../types.ts';

const buttonTheme: Theme = {
        backgroundColor: 'bg-ebony-clay',
        borderColor: 'border-madang',
        textColor: 'text-madang',
};

const cardTheme: Theme = {
        backgroundColor: 'bg-ebony-clay',
        borderColor: 'border-periwinkle-gray',
        textColor: 'text-mischka',
};

const blogCards = [
    {
        title: 'Fundamentals of OOP and Why Its Not What You Think',
        metaData: {
            date: '8_12_2022',
            readTine: '25 min read',
            tags: ['#oop', '#fundamentals', '#debate']
        },
        postSnippet: 'lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,'
    },
];


---

<PageWrapperLayout title='Blogs' >
    <TerminalWindow title='blog_posts' backgroundColor='bg-ebony-clay' 
    borderColor="border-texas" titleColor="text-mischka">
        <div class="w-full flex flex-col justify-center items-center gap-y-6">
            {blogCards.map(card => (
                <Card title={card.title} metaData={card.metaData} 
                postSnippet={card.postSnippet} cardTheme={cardTheme} buttonTheme={buttonTheme}/>
            ))}
        </div>
    </TerminalWindow>
</PageWrapperLayout>
