---
import type { Theme } from '../types.js';

type Props = {
    link: string;
    theme: Theme;
}

const {link, theme} = Astro.props;

---
<!-- TODO: make a more suddle in terminal shadow (for the button) -->
<a href={link} class={`flex justify-center items-center py-2 px-4 border-2 ${theme.backgroundColor} ${theme.borderColor} 
    rounded-2xl ${theme.textColor} shadow-neo-brute font-semibold {theme.shadowColor}`}>
    <slot />
</a>
