---
import type { Theme } from '../types.js';

type Props = {
    link: string;
    //theme: Theme;
    btnColor?: string;
    solid?: boolean;
}

const {link, btnColor="btn-secondary", solid=true, /*theme*/} = Astro.props;

---
<!-- TODO: make a more suddle in terminal shadow (for the button) -->
<!-- <a href={link} class={`flex justify-center items-center py-2 px-4 border-2 ${theme.backgroundColor} 
    ${theme.borderColor} rounded-2xl ${theme.textColor} shadow-neo-brute font-semibold 
    ${theme.shadowColor}`}>
    <slot />
</a> -->

<a href={link} class={`btn ${solid || 'btn-outline'} ${btnColor} w-full 
rounded-2xl shadow-neo-brute font-semibold text-lg`}>
    <slot />
</a>
