---
type Props = {
    title: string;
    metaData: {
        date: string;
        readTime: number;
        tags: string[];
    };
    postSnippet: string;
    href: string;
}

const {title, metaData, postSnippet, href} = Astro.props;
---

<div class="card card-bordered border-primary w-full bg-none rounded-2xl">
  <div class="card-body">
    <h2 class="card-title font-bold text-primary">{title}</h2>
    <div class="text-santas-gray"><span>{metaData.readTime.toString()} min read</span> | <span>{metaData.date}</span></div>
    <div class="card-actions items-center justify-start">
    <!-- TODO: on tag click should redirect to a filtered list of all articles that share the same tag -->
        {metaData.tags.map(tag => (
          <div class="badge badge-outline badge-accent">#{tag}</div> 
        ))}
    </div>
    <!-- TODO: limit the length of the postSnippet -->
    <p>{postSnippet} ...</p>
    <div class="card-actions justify-end">
      <a href={href} class="btn btn-outline btn-secondary rounded-2xl">Read More</a>
    </div>
  </div>
</div>
