---
import Btn from '../components/Btn.astro';

import type {Theme} from '../types.ts'

type Props = {
    title: string;
    metaData: {
        date: string;
        readTime: string;
        tags: string[];
    };
    postSnippet: string;
    cardTheme: Theme;
    buttonTheme: Theme;
}

const {title, metaData, postSnippet, cardTheme, buttonTheme} = Astro.props;
---
<div class={`w-full ${cardTheme.backgroundColor} flex flex-col justify-center items-center ${cardTheme.textColor} gap-y-2.5
p-3 border-2 rounded-2xl ${cardTheme.borderColor}`}>
    <div class="w-full flex flex-row justify-start items-center">
        <h2 class="text-2xl font-bold">
           {title}      
        </h2>
    </div>
    <div class="w-full flex flex-row justify-start items-center">
        <div class="text-xl font-medium">
            <!--TODO: Each section of this metadata will be gnerated with js -->
            <span>{metaData.date}</span> | 
            <span>{`${metaData.readTime.toString()} min read`}</span> | 
            <span>{metaData.tags.join(', ')}</span>
        </div>
    </div>
    <div class="w-full flex flex-row justify-start items-center">
        <!-- TODO: limit the length of this section to a certain 
        number of characters (maybe based on screen size -->
        <p class="text-base">
            {postSnippet}
            <!-- TODO: add inline left padding to this element 
            to seperate a bit from paragraph -->
            <span>...</span>
        </p>
    </div>
    <div class="w-full flex flex-row justify-end items-center">
        <Btn link={'/'} theme={buttonTheme}>Read More</Btn>
    </div>
</div>
