---
type Props = {
    theme: {
        backgroundColor: string;
        borderColor: string;
        textColor: string;
        }
    project: {
        title: string;
        shortDescription: string;
        description: string; 
        postedDate: string;
        //image: string;
        }
    };

const {theme, project} = Astro.props;
---
<fragment>
<div class={`card ${theme.backgroundColor} w-full p-2 rounded-2xl border-2 ${theme.borderColor}`}> 
        <div class=`${theme.textColor} w-full flex gap-y-2 flex-col justify-center relative`> 
            <div class=`flex justify-between w-full border-2 p-2 rounded-2xl border-2 
                ${theme.borderColor}`> 
                <h2 class="card-title">{project.title}</h2>
                <!-- Technology Icons -->
                <div class="flex gap-x-2 items-center">
                    <div class="bg-texas rounded-2xl overflow-hidden w-4 h-4"> 
                       <!-- <img /> -->
                    </div>
                    <div class="bg-texas rounded-2xl overflow-hidden w-4 h-4"> 
                        <!-- <img /> -->
                    </div>
                    <div class="bg-texas rounded-2xl overflow-hidden w-4 h-4"> 
                       <!-- <img /> -->
                    </div>
                </div>
            </div>
            <div class=`w-full rounded-2xl border-2 ${theme.borderColor} overflow-hidden`>
                <!-- IMAGE -->
                <!-- placeholder for image -->
                <div class="w-full h-64 bg-mischka"></div>
            </div>
            <div class=`w-full p-2 rounded-2xl border-2 ${theme.borderColor} text-lg`> 
                {project.shortDescription}
            </div>
            <div class=`w-full p-3 pb-7 rounded-2xl border-2 ${theme.borderColor} text-base`> 
                <!--Add fixed height -->
                <p>{project.description}</p>
            </div>
            <div class="w-full text-sm p-1">
                Posted: {project.postedDate}
            </div> 
            <div id="button" class=`p-2 rounded-2xl border-2 ${theme.borderColor} absolute
            z-30 right-0 bottom-4 ${theme.backgroundColor} font-semibold`>
            Read More
            </div> 
        </div>
    </div>

    <!-- New Daisy UI Version -->
    <div class=`card card-bordered border-2 border-primary rounded-2xl p-3 flex flex-col gap-y-2 
    ${theme.backgroundColor} relative`>
        <div class="w-full flex items-center justify-between border-2 border-primary rounded-2xl p-2">
            <h2 class="card-title">{project.title}</h2>
            <div class="flex gap-2">
                <!-- TODO: make this dynamiclay generated -->
                <img href="/" class="bg-texas rounded-2xl overflow-hidden w-4 h-4" /> 
                <img href="/" class="bg-texas rounded-2xl overflow-hidden w-4 h-4" /> 
                <img href="/" class="bg-texas rounded-2xl overflow-hidden w-4 h-4" /> 
            </div>
        </div>
        <figure class="border-2 border-primary rounded-2xl w-full overflow-hidden">
            <!-- TODO: make this link based on the database -->
            <img href="/" class="w-full h-64 bg-mischka" />
        </figure>
        <div class="card-body w-full p-0">
            <div class="p-2 border-2 border-primary rounded-2xl">
                <span class="text-lg">{project.shortDescription}</span>
            </div>
            <div class="px-2 pt-2 pb-7 border-2 border-primary rounded-2xl">
                <p class="">{project.description}</p>
            </div>
            <div class="w-full flex justify-between items-center">
                <span class="self-end"> Posted: {project.postedDate}</span>
                <div class="card-actions">
                    <a href="/" class="btn btn-secondary btn-outline border-2 rounded-2xl absolute bottom-5 right-3 bg-base-100">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</fragment>
