---
type Props = {
    theme: {
        backgroundColor: string;
        borderColor: string;
        textColor: string;
        }
    project: {
        title: string;
        shortDescription: string;
        description: string; 
        postedDate: string;
        //image: string;
        }
    };

const {theme, project} = Astro.props;
---

<div class=`${theme.backgroundColor} w-full flex flex-col justify-center p-2 rounded-2xl border-2  ${theme.borderColor}`> 
    <div class=`${theme.textColor} w-full flex gap-y-2 flex-col justify-center relative`> 
        <div class=`flex justify-between w-full border-2 p-2 rounded-2xl border-2 ${theme.borderColor}`> 
            <h2 class="font-semibold font-xl">{project.title}</h2>
            <!-- Technology Icons -->
            <div class="flex gap-x-2 items-center">
                <div class="bg-texas rounded-2xl overflow-hidden w-4 h-4"> 
                   <!-- <img /> -->
                </div>
                <div class="bg-texas rounded-2xl overflow-hidden w-4 h-4"> 
                    <!-- <img /> -->
                </div>
                <div class="bg-texas rounded-2xl overflow-hidden w-4 h-4"> 
                   <!-- <img /> -->
                </div>
            </div>
        </div>
        <div class=`w-full rounded-2xl border-2 ${theme.borderColor} overflow-hidden`>
            <!-- IMAGE -->
            <!-- placeholder for image -->
            <div class="w-full h-64 bg-mischka"></div>
        </div>
        <div class=`w-full p-2 rounded-2xl border-2 ${theme.borderColor} text-lg`> 
            {project.shortDescription}
        </div>
        <div class=`w-full p-3 pb-7 rounded-2xl border-2 ${theme.borderColor} text-base`> 
            <!--Add fixed height -->
            <p>{project.description}</p>
        </div>
        <div class="w-full text-sm p-1">
            Posted: {project.postedDate}
        </div> 
        <div id="button" class=`p-2 rounded-2xl border-2 ${theme.borderColor} absolute
        z-30 right-0 bottom-4 ${theme.backgroundColor} font-semibold`>
        Read More
        </div> 
    </div>
</div>
