---
type Props = {
	title: string
    //width: string;
    //hight: string;
    backgroundColor: string;
    borderColor: string;
};

const {title, width, height, backgroundColor, borderColor} = Astro.props;

---

<div class={`${borderColor} border-solid border-4 rounded-2xl overflow-hidden shadow-neo-brute`}>
    <!-- TODO: find out why the backgroundColor wont go transparent -->
    <div class={`flex justify-center align-middle p-2 border-b-4 ${borderColor} ${backgroundColor}/50`}>
        <h1>{title}</h1>
    </div>
    <div class={`flex justify-center align-middle p-6 ${backgroundColor}`}> 
        <slot />
    </div>
</div>
