---
import PageWrapperLayout from '../../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../../components/TerminalWindow.astro';

const {id} = Astro.params;

const book = {
    title: 'Mistborn - The Final Empire',
    author: {
       name: 'Brandon Sanderson',
       wikiLink: "https://en.wikipedia.org/wiki/Brandon_Sanderson",
    },
    description: 'Mistborn: The Final Empire" follows Vin, a Mistborn with extraordinary  powers, as she joins a band of rebels to overthrow the tyrannical Lord  Ruler in a world shrouded in ash and mystery.',
        rating: 4.5,
        review: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque rerum!',
        finished: true,
};

---

<PageWrapperLayout title={book.title} >
    <TerminalWindow title={`book_${id}`}>
        <div class="w-full flex flex-col justify-center items-center gap-y-8 text-mischka text-xl">
            <div class="w-full">
                <figure class="w-full rounded-regular overflow-hidden">
                    <img src="/" alt="alt" class="w-full h-96 bg-mischka "/>
                </figure>
            </div>
            <div class="w-full flex flex-col justify-center items-center gap-y-4">
                <header class="w-full flex flex-col justify-center items-center gap-y-4">
                    <div class="w-full">
                        <h2 class="text-primary text-4xl font-semibold">{book.title}</h2>
                    </div>
                    <div class="w-full">
                        <span class="font-medium italic">
                            <span class="text-2xl text-primary font-semibold">By:</span> 
                            <a class="link link-secondary"href={book.author.wikiLink}>{book.author.name}</a>
                        </span>
                    </div>
                    <div><span class="text-2xl text-primary font-semibold">Description:</span> {book.description}</div>
                    <div class="w-full">
                        <!-- TODO: set the 'checked' attribute on the rating float rounded down  -->
                        <div class="w-full text-xl flex justify-center items-center gap-2">
                            <span class="text-2xl font-semibold text-primary">Rating: </span> 
                            <!-- TODO: make the stars not clickable -->
                            <span class="rating rating-md rating-half w-full">
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-1" />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-2" />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-1" />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-2" />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-1" />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-2" />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-1" checked />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-2" />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-1" />
                              <input type="radio" name="rating-10" class="bg-accent mask mask-star-2 mask-half-2" />
                            </span>
                        </div>
                    </div>
                </header>
                <section class="w-full flex flex-col justify-center items-center">
                    <p class="w-full text-xl"><span class="text-2xl text-primary font-semibold">Review:</span> {book.review}</p>
                </section>
            </div>
        </div>
    </TerminalWindow>
</PageWrapperLayout>

